.InputAndOptions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;


  .inputs{
    display: flex;
    flex-direction: column;
    flex-grow: 1
    // justify-content: space-between;
  }
  .addRemove{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
  }

  .checkboxInputs {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
